@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

:root{
    --cor-da-letra: rgb(0, 0, 0);
    --cor-de-fundo: rgb(255, 255, 255);
    --fundo-senha: #29188a;
    --fundo-texto: rgb(255, 255, 255);
    --borda: rgb(20, 4, 92); 
    --fonte: "Jaini Purva", system-ui;
    --fonte-2: "Black Han Sans", sans-serif;
}

body{
    color: var(--cor-da-letra);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    font-size: 28px;    
    line-height: 25px;
}

.Titulo-Principal{
    text-align:center;
    font-size: 46px;
    font-family: var(--fonte-2);

}